
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}



.newsletter {
  background-color: #000;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }
  .label {
     font-size: 40px;
  }
  .infoCardContainer--info-card-home {
    width: 100%;
    margin: 0 auto;
    background-color: #FAB604;
    padding: 0px;
  }
  .infoCardContainer--info-card-gardening {
    width: 100%;
    margin: 0 auto;
    background-color: #0A3909;
    padding: 0px;
  }
.infoCardContainer{
  background-image: url("assets/cicd/Stripes-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 70%;
}

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 40%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 60%;
    display: flex;
    align-items:center;
    align-content: center;

  }
  .infoCardContainer--info-card-gardening .infoCardTextContainer {
    width: 40%;
  }
  .infoCardContainer--info-card-gardening .infoCardImageContainer {
    width: 60%;
    display: flex;
    align-items:center;
    align-content: center;
    
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
.infoCardImage--info-card-home, 
.infoCardImage--info-card-gardening{
  max-height: 500px;
  
  margin: 0px auto;
  
}
.infoCardImage--info-card-gardening{
  margin: 0px 0px 0px auto;
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

/*/kaistart*/
.infoCardHeadline{
  background: #fff;
  color: #B40800;
  font-weight: 700;
  padding: 20px 50px 20px 10px;
  text-align: left;
}

.infoCardCallActionContainer{
  border-radius: 0px;
  margin-top: 0px;
}
.infoCardTextContainer--info-card-home, .infoCardTextContainer--info-card-gardening {
  display: flex;
      align-items: flex-start;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-left: 100px;
  
}
.autoCompleteOuterContainer--diysearchbar :global(.vtex-input-prefix__group) {
  height: 58px;
  border: 2px solid #000;
  border-radius: 5px;
  
}

.autoCompleteOuterContainer--diysearchbar :global(.vtex-input__suffix) {
  padding: 0;
}

.searchBarIcon--diysearchbar{
    background-color: #FAAE17;
    padding: 0 30px 0 25px;
    color: #fff;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
    border-left: 1px solid #7D570C;

}

.searchBarContainer :global(.vtex-input) {
  text-transform: uppercase;
  color: #000;
}

.logoContainer--mainlogoyo
{
  display: block;
}
.userAddressContainer{
  color: #000;
  background: none;
}

.addressInfoIconContainer{
  color: #000;
}


.imageElement--rrrr
{
  border-radius: 10px;
}



.buttonContainer--nl :global(.vtex-button__label){
  text-align: center;
  background: #fff;
  color: #000;
  padding-top: 12px !important;
  padding-bottom: 13px !important;
}

.frameAround, 
.skuSelectorInternalBox, 
.diagonalCross{
  border-radius: 10px;
}
.skuSelectorInternalBox{
  border-color: #000;
}