.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}


.galleryLayoutOptionButton{
  color: #000;
  background: #FAAE17;
}
.galleryLayoutOptionButton--selected{
  color: #fff;
  background-color: #000;
}
.galleryLayoutSwitcher{
  border: 2px solid #000;
}

.filterMessage{
  font-weight: 700 !important; 
}

.filterItem, .filterItem :global(.vtex-checkbox__line-container){
  -webkit-box-align: center;
  align-items: center;

}