.stackItem--product {
  width: 100%;
  min-height: 257px
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}


.stackItem--news--newstag
{
    position: absolute !important;
    bottom: 0 !important;
    top: auto;
    padding-left: 10px;
}

 